In [ ]:
#Scenario 1: Employee Salary Analysis
import pandas as pd
data = [ [1,'IT',70000,6], [2,'HR',45000,4], [3,'IT',None,8], [4,'Finance',55000,3],
[5,'HR',38000,6] ]
df = pd.DataFrame(data, columns=['emp_id','department','salary','experience_years'])
df

   emp_id department   salary  experience_years
0       1         IT  70000.0                 6
1       2         HR  45000.0                 4
2       3         IT      NaN                 8
3       4    Finance  55000.0                 3
4       5         HR  38000.0                 6

In [ ]:
# 1. Which department has the highest average salary?
avg_salaries = df.groupby('department')['salary'].mean()
highest_dept = avg_salaries.idxmax()
highest_value = avg_salaries.max()

print(f"{highest_dept},{highest_value}")

IT,70000.0

In [ ]:
# 2. Which employees earn more than the department average?

df['dept_avg_salary'] = df.groupby('department')['salary'].transform('mean')
higher_earners = df[df['salary'] > df['dept_avg_salary']]
higher_earners

   emp_id department   salary  experience_years  dept_avg_salary
1       2         HR  45000.0                 4          41500.0

In [ ]:
# 3. Count employees with more than 5 years of experience per department
df_exp = df[df['experience_years'] > 5]
df_count = df_exp['department'].value_counts()

df_count

department
IT    2
HR    1
Name: count, dtype: int64

In [ ]:
#4.Which departments have minimum salary below 40,000?
df.groupby('department')['salary'].min().sort_values(ascending=True).head(1)

department
HR    38000.0
Name: salary, dtype: float64

In [ ]:
#5.. Fill missing salary values using department median salary
df['salary'].fillna(df.groupby('department')['salary'].transform('median'), inplace=True)
df

   emp_id department   salary  experience_years  dept_avg_salary
0       1         IT  70000.0                 6          70000.0
1       2         HR  45000.0                 4          41500.0
2       3         IT  70000.0                 8          70000.0
3       4    Finance  55000.0                 3          55000.0
4       5         HR  38000.0                 6          41500.0

In [ ]:
#Scenario 2: Orders Dataset
import pandas as ps
data = [ [101,1,2500,'2024-01-01'], [102,2,1800,'2024-01-02'],[103,1,None,'2024-01-02'], [104,3,3200,'2024-01-06'], [105,2,2100,'2024-01-07'] ]
df =ps.DataFrame(data, columns=['order_id','customer_id','order_amount','order_date'])
df['order_date']= ps.to_datetime(df['order_date'])
df

   order_id  customer_id  order_amount order_date
0       101            1        2500.0 2024-01-01
1       102            2        1800.0 2024-01-02
2       103            1           NaN 2024-01-02
3       104            3        3200.0 2024-01-06
4       105            2        2100.0 2024-01-07

In [ ]:
#1. Which day had the highest total order value?
df_1=df.groupby('order_date')['order_amount'].max().idxmax()
df_1

Timestamp('2024-01-06 00:00:00')

In [ ]:
#2. Which customers placed more than 2 orders?
df.groupby('customer_id')['order_id'].count().loc[lambda x : x >=2]

customer_id
1    2
2    2
Name: order_id, dtype: int64

In [ ]:
#3.What is the monthly total revenue?
df['month'] = df['order_date'].dt.to_period('M')
monthly_revenue = df.groupby('month')['order_amount'].sum()

monthly_revenue

month
2024-01    9600.0
Freq: M, Name: order_amount, dtype: float64

In [ ]:
#4.Fill missing order amounts using daily average.
df['day']=df['order_date'].dt.day

In [ ]:
#5. Which orders were placed on weekends?
weekend_orders = df[df['order_date'].dt.dayofweek.isin([5, 6])]
weekend_orders

Orders placed on weekends:

   order_id  customer_id  order_amount order_date
3       104            3        3200.0 2024-01-06
4       105            2        2100.0 2024-01-07

In [1]:
#Scenario 3: Website Logs
import pandas as pd
data = [ [1,'/home',120,200], [2,'/login',300,500], [1,'/home',None,200],[3,'/dashboard',250,200], [3,'/dashboard',250,200] ]
df = pd.DataFrame(data,columns=['user_id','page','response_time','status_code'])
df

   user_id        page  response_time  status_code
0        1       /home          120.0          200
1        2      /login          300.0          500
2        1       /home            NaN          200
3        3  /dashboard          250.0          200
4        3  /dashboard          250.0          200

In [ ]:
#1. What is the average response time per page?
df.groupby('page')['response_time'].mean()

page
/dashboard    250.0
/home         120.0
/login        300.0
Name: response_time, dtype: float64

In [ ]:
#2. How many failed requests exist (status_code != 200)?
df.groupby('status_code')['user_id'].count().loc[lambda x : x != 200]

status_code
200    4
500    1
Name: user_id, dtype: int64

In [ ]:
#3.Which pages have response time above overall average
df['overall_avg'] = df['response_time'].mean()
df[df['response_time'] > df['overall_avg']]

   user_id        page  response_time  status_code  overall_avg
1        2      /login          300.0          500        230.0
3        3  /dashboard          250.0          200        230.0
4        3  /dashboard          250.0          200        230.0

In [ ]:
#4. Remove duplicate log entries.
df.duplicated()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [2]:
# 5. Fill missing response times using median.
df['response_time'] = df['response_time'].fillna(df['response_time'].median())
display(df)

   user_id        page  response_time  status_code
0        1       /home          120.0          200
1        2      /login          300.0          500
2        1       /home          250.0          200
3        3  /dashboard          250.0          200
4        3  /dashboard          250.0          200

In [4]:
#Scenario 4: Student Scores
import pandas as pd
data = [ [1,'Math',78], [1,'Science',None], [2,'Math',35], [2,'Science',55],[3,'Math',90] ]
df = pd.DataFrame(data, columns=['student_id','subject','marks'])
df

   student_id  subject  marks
0           1     Math   78.0
1           1  Science    NaN
2           2     Math   35.0
3           2  Science   55.0
4           3     Math   90.0

In [6]:
#1. What is the average marks per subject?
df_1=df.groupby('subject')['marks'].mean()
df_1

subject
Math       67.666667
Science    55.000000
Name: marks, dtype: float64

In [7]:
#2. Which students scored below 40 in any subject?
df_1=df[df['marks'] < 40]
df_1

   student_id subject  marks
2           2    Math   35.0

In [8]:
#3. Count number of subjects per student.
df_1=df.groupby('student_id')['subject'].count()
df_1

student_id
1    2
2    2
3    1
Name: subject, dtype: int64

In [9]:
#4. Fill missing marks using subject average.
df['marks'] = df.groupby('subject')['marks'].transform(lambda x: x.fillna(x.mean()))
df

   student_id  subject  marks
0           1     Math   78.0
1           1  Science   55.0
2           2     Math   35.0
3           2  Science   55.0
4           3     Math   90.0

In [10]:
#5. Which subject has the highest variance in marks?
df.groupby('subject')['marks'].var().idxmax()

'Math'

In [11]:
#Scenario 5: Product Inventory
import pandas as pd
data = [ [101,'Electronics',50,15000], [102,'Electronics',None,12000],[103,'Furniture',30,8000], [104,'Furniture',70,9000], [104,'Furniture',70,9000] ]
df = pd.DataFrame(data, columns=['product_id','category','stock','price'])
df

   product_id     category  stock  price
0         101  Electronics   50.0  15000
1         102  Electronics    NaN  12000
2         103    Furniture   30.0   8000
3         104    Furniture   70.0   9000
4         104    Furniture   70.0   9000

In [12]:
#1. Which categories have total stock below 100?
df.groupby('category')['stock'].sum().loc[lambda x : x < 100]

category
Electronics    50.0
Name: stock, dtype: float64

In [13]:
#2. Which products are priced above category average price?
df['category_avg_price'] = df.groupby('category')['price'].transform('mean')
df

   product_id     category  stock  price  category_avg_price
0         101  Electronics   50.0  15000        13500.000000
1         102  Electronics    NaN  12000        13500.000000
2         103    Furniture   30.0   8000         8666.666667
3         104    Furniture   70.0   9000         8666.666667
4         104    Furniture   70.0   9000         8666.666667

In [14]:
#3. Fill missing stock values using category median.
df['stock'] = df['stock'].fillna(df.groupby('category')['stock'].transform('median'))
df

   product_id     category  stock  price  category_avg_price
0         101  Electronics   50.0  15000        13500.000000
1         102  Electronics   50.0  12000        13500.000000
2         103    Furniture   30.0   8000         8666.666667
3         104    Furniture   70.0   9000         8666.666667
4         104    Furniture   70.0   9000         8666.666667

In [15]:
#4. Identify duplicate product records.
df.duplicated()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [17]:
# 5. What is the total inventory value per category?
df['inventory_value'] = df['stock'] * df['price']
total_inventory = df.groupby('category')['inventory_value'].sum()
display(total_inventory)

category
Electronics    1350000.0
Furniture      1500000.0
Name: inventory_value, dtype: float64