In [2]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [5]:

import pandas as pd
data = [ [1,'IT',70000,6], [2,'HR',45000,4], [3,'IT',None,8], [4,'Finance',55000,3],
[5,'HR',38000,6] ]
df = pd.DataFrame(data,
columns=['emp_id','department','salary','experience_years'])
df

   emp_id department   salary  experience_years
0       1         IT  70000.0                 6
1       2         HR  45000.0                 4
2       3         IT      NaN                 8
3       4    Finance  55000.0                 3
4       5         HR  38000.0                 6

In [6]:
# Which department has the highest average salary?

# df.groupby('department')['salary'].mean().idxmax()
df.groupby('department')['salary'].mean().sort_values(ascending=False).head(1).reset_index()

  department   salary
0         IT  70000.0

In [7]:
#Which employees earn more than the department average?

df['avg_salary'] = df.groupby('department')['salary'].transform('mean')
df[df['salary'] > df['avg_salary']]

   emp_id department   salary  experience_years  avg_salary
1       2         HR  45000.0                 4     41500.0

In [ ]:
#Count employees with more than 5 years of experience per department.

df[df['experience_years'] > 5].groupby('department').size().reset_index(name='count')

In [8]:
#Which departments have minimum salary below 40,000?

df[df['salary'] < 40000].groupby('department')['salary'].min().reset_index()

  department   salary
0         HR  38000.0

In [ ]:
#Fill missing salary values using department median salary.

df['salary'].fillna(df.groupby('department')['salary'].transform('median'))
df

In [10]:
import pandas as pd
data = [ [101,1,2500,'2024-01-01'], [102,2,1800,'2024-01-02'],
[103,1,None,'2024-01-02'], [104,3,3200,'2024-01-06'], [105,2,2100,'2024-01-07'] ]
df =pd.DataFrame(data, columns=['order_id','customer_id','order_amount','order_date'])
df['order_date']= pd.to_datetime(df['order_date'])
df

   order_id  customer_id  order_amount order_date
0       101            1        2500.0 2024-01-01
1       102            2        1800.0 2024-01-02
2       103            1           NaN 2024-01-02
3       104            3        3200.0 2024-01-06
4       105            2        2100.0 2024-01-07

In [11]:
#Which day had the highest total order value?
df.groupby('order_date')['order_amount'].sum().sort_values(ascending=False).head(1)

order_date
2024-01-06    3200.0
Name: order_amount, dtype: float64

In [12]:
#Which customers placed more than 2 orders
df.groupby('customer_id')['order_id'].count().loc[lambda x: x >= 2]

customer_id
1    2
2    2
Name: order_id, dtype: int64

In [13]:
#What is the monthly total revenue?

df.groupby(df['order_date'].dt.to_period('M'))['order_amount'].sum()

order_date
2024-01    9600.0
Freq: M, Name: order_amount, dtype: float64

In [14]:
#Fill missing order amounts using daily average.
df['order_amount'].fillna(
    df.groupby('order_date')['order_amount'].transform('mean')

)

0    2500.0
1    1800.0
2    1800.0
3    3200.0
4    2100.0
Name: order_amount, dtype: float64

In [15]:
# Which orders were placed on weekends?
df[df['order_date'].dt.weekday >= 5]

   order_id  customer_id  order_amount order_date
3       104            3        3200.0 2024-01-06
4       105            2        2100.0 2024-01-07

In [16]:
import pandas as pd
data = [ [1,'/home',120,200], [2,'/login',300,500], [1,'/home',None,200],
[3,'/dashboard',250,200], [3,'/dashboard',250,200] ]
df = pd.DataFrame(data,columns=['user_id','page','response_time','status_code'])
df

   user_id        page  response_time  status_code
0        1       /home          120.0          200
1        2      /login          300.0          500
2        1       /home            NaN          200
3        3  /dashboard          250.0          200
4        3  /dashboard          250.0          200

In [17]:
#What is the average response time per page?
df.groupby('page')['response_time'].mean().reset_index()

         page  response_time
0  /dashboard          250.0
1       /home          120.0
2      /login          300.0

In [18]:
#How many failed requests exist (status_code != 200)?

failed_requests = df[df["status_code"] != 200].shape[0]
failed_requests

1

In [19]:
#Which pages have response time above overall average?

avg_response_time= df["response_time"].mean()
above_avg_response= df[df['response_time'] > avg_response_time]
above_avg_response

   user_id        page  response_time  status_code
1        2      /login          300.0          500
3        3  /dashboard          250.0          200
4        3  /dashboard          250.0          200

In [20]:
#Remove duplicate log entries.

df.drop_duplicates(inplace=True)
df

   user_id        page  response_time  status_code
0        1       /home          120.0          200
1        2      /login          300.0          500
2        1       /home            NaN          200
3        3  /dashboard          250.0          200

In [21]:
#Fill missing response times using median.

median_responsetime=df['response_time'].median()
df['response_time']=df['response_time'].fillna(median_responsetime)
df

   user_id        page  response_time  status_code
0        1       /home          120.0          200
1        2      /login          300.0          500
2        1       /home          250.0          200
3        3  /dashboard          250.0          200

In [22]:
import pandas as pd
data = [ [1,'Math',78], [1,'Science',None], [2,'Math',35], [2,'Science',55],
[3,'Math',90] ]
df = pd.DataFrame(data, columns=['student_id','subject','marks'])
df

   student_id  subject  marks
0           1     Math   78.0
1           1  Science    NaN
2           2     Math   35.0
3           2  Science   55.0
4           3     Math   90.0

In [23]:
# What is the average marks per subject?

avg_marks = df.groupby(['subject'])['marks'].mean().reset_index()
avg_marks

   subject      marks
0     Math  67.666667
1  Science  55.000000

In [24]:
# Which students scored below 40 in any subject?

df[df['marks'] < 40]

   student_id subject  marks
2           2    Math   35.0

In [25]:
# Count number of subjects per student.

df['subject'].groupby(df['student_id']).count().reset_index(name='subject_count')

   student_id  subject_count
0           1              2
1           2              2
2           3              1

In [26]:
# Fill missing marks using subject average.

df['marks']=df['marks'].fillna(df.groupby('subject')['marks'].transform('mean'))
df

   student_id  subject  marks
0           1     Math   78.0
1           1  Science   55.0
2           2     Math   35.0
3           2  Science   55.0
4           3     Math   90.0

In [27]:
#Which subject has the highest variance in marks?


df.groupby("subject")["marks"].var().head(1)

subject
Math    836.333333
Name: marks, dtype: float64

In [29]:
import pandas as pd
data = [ [101,'Electronics',50,15000], [102,'Electronics',None,12000],
[103,'Furniture',30,8000], [104,'Furniture',70,9000], [104,'Furniture',70,9000] ]
df =pd.DataFrame(data, columns=['product_id','category','stock','price'])

df

   product_id     category  stock  price
0         101  Electronics   50.0  15000
1         102  Electronics    NaN  12000
2         103    Furniture   30.0   8000
3         104    Furniture   70.0   9000
4         104    Furniture   70.0   9000

In [30]:
#Which categories have total stock below 100?

df.groupby('category')['stock'].sum().loc[lambda x: x < 100]

category
Electronics    50.0
Name: stock, dtype: float64

In [31]:
#Which products are priced above category average price?

df['category_avg_price'] = df.groupby('category')['price'].transform('mean')
df

   product_id     category  stock  price  category_avg_price
0         101  Electronics   50.0  15000        13500.000000
1         102  Electronics    NaN  12000        13500.000000
2         103    Furniture   30.0   8000         8666.666667
3         104    Furniture   70.0   9000         8666.666667
4         104    Furniture   70.0   9000         8666.666667

In [32]:
#Fill missing stock values using category median.

df['stock']=df['stock'].fillna(df.groupby('category')['stock'].transform('median'))
df

   product_id     category  stock  price  category_avg_price
0         101  Electronics   50.0  15000        13500.000000
1         102  Electronics   50.0  12000        13500.000000
2         103    Furniture   30.0   8000         8666.666667
3         104    Furniture   70.0   9000         8666.666667
4         104    Furniture   70.0   9000         8666.666667

In [33]:
#Identify duplicate product records.

df[df.duplicated()]

   product_id   category  stock  price  category_avg_price
4         104  Furniture   70.0   9000         8666.666667

In [34]:
#What is the total inventory value per category?

df['inventory_value'] = df['stock'] * df['price']
df

   product_id     category  stock  price  category_avg_price  inventory_value
0         101  Electronics   50.0  15000        13500.000000         750000.0
1         102  Electronics   50.0  12000        13500.000000         600000.0
2         103    Furniture   30.0   8000         8666.666667         240000.0
3         104    Furniture   70.0   9000         8666.666667         630000.0
4         104    Furniture   70.0   9000         8666.666667         630000.0