In [2]:
#  Employee Salary Analysis
import pandas as pd

In [3]:
data = [ [1,'IT',70000,6], [2,'HR',45000,4], [3,'IT',None,8], [4,'Finance',55000,3],
[5,'HR',38000,6] ]
df = pd.DataFrame(data, columns=['emp_id','department','salary','experience_years'])

In [4]:
df

   emp_id department   salary  experience_years
0       1         IT  70000.0                 6
1       2         HR  45000.0                 4
2       3         IT      NaN                 8
3       4    Finance  55000.0                 3
4       5         HR  38000.0                 6

In [5]:
# 1. Which department has the highest average salary?
df.groupby('department')['salary'].mean().sort_values( ascending=False).head(1)

department
IT    70000.0
Name: salary, dtype: float64

In [6]:
# 2. Which employees earn more than the department average?
df[df['salary']>df.groupby('department')['salary'].transform('mean')]

   emp_id department   salary  experience_years
1       2         HR  45000.0                 4

In [7]:
#  Count employees with more than 5 years of experience per department.
df[df['experience_years']>5].groupby('department').size()

department
HR    1
IT    2
dtype: int64

In [8]:
df[df['experience_years']>5]

   emp_id department   salary  experience_years
0       1         IT  70000.0                 6
2       3         IT      NaN                 8
4       5         HR  38000.0                 6

In [9]:
# Which departments have minimum salary below 40,000?
df.groupby('department')['salary'].min().loc[lambda x: x<40000]

department
HR    38000.0
Name: salary, dtype: float64

In [10]:
# 5. Fill missing salary values using department median salary.
df.fillna(df.groupby('department')['salary'].transform('median'))

   emp_id department   salary  experience_years
0       1         IT  70000.0                 6
1       2         HR  45000.0                 4
2       3         IT      NaN                 8
3       4    Finance  55000.0                 3
4       5         HR  38000.0                 6

In [11]:
df

   emp_id department   salary  experience_years
0       1         IT  70000.0                 6
1       2         HR  45000.0                 4
2       3         IT      NaN                 8
3       4    Finance  55000.0                 3
4       5         HR  38000.0                 6

In [12]:
df['salary'] = df['salary'].fillna(
    df.groupby('department')['salary'].transform('median')
)

In [13]:
df

   emp_id department   salary  experience_years
0       1         IT  70000.0                 6
1       2         HR  45000.0                 4
2       3         IT  70000.0                 8
3       4    Finance  55000.0                 3
4       5         HR  38000.0                 6

In [14]:
# Orders Dataset
data = [ [101,1,2500,'2024-01-01'], [102,2,1800,'2024-01-02'],
[103,1,None,'2024-01-02'], [104,3,3200,'2024-01-06'], [105,2,2100,'2024-01-07'] ]
df = pd.DataFrame(data, columns=['order_id','customer_id','order_amount','order_date'])
df['order_date']= pd.to_datetime(df['order_date'])

In [15]:
df

   order_id  customer_id  order_amount order_date
0       101            1        2500.0 2024-01-01
1       102            2        1800.0 2024-01-02
2       103            1           NaN 2024-01-02
3       104            3        3200.0 2024-01-06
4       105            2        2100.0 2024-01-07

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      5 non-null      int64
 1   customer_id   5 non-null      int64
 2   order_amount  4 non-null      float64
 3   order_date    5 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 292.0 bytes

In [17]:
# 1. Which day had the highest total order value?
df.groupby('order_date')['order_amount'].sum().sort_values(ascending=False).head(1)

order_date
2024-01-06    3200.0
Name: order_amount, dtype: float64

In [18]:
# 2. Which customers placed more than 2 orders?
df.groupby('customer_id').size().loc[lambda x: x>=2]

customer_id
1    2
2    2
dtype: int64

In [19]:
# 3. What is the monthly total revenue?
df.groupby(df['order_date'].dt.month)['order_amount'].sum()

order_date
1    9600.0
Name: order_amount, dtype: float64

In [20]:
# 4. Fill missing order amounts using daily average.
df1 = df['order_amount'].fillna(df.groupby('order_date')['order_amount'].transform('mean'))

In [21]:
df1

0    2500.0
1    1800.0
2    1800.0
3    3200.0
4    2100.0
Name: order_amount, dtype: float64

In [22]:
# 5. Which orders were placed on weekends?
df[df['order_date'].dt.dayofweek>=5]

   order_id  customer_id  order_amount order_date
3       104            3        3200.0 2024-01-06
4       105            2        2100.0 2024-01-07

In [23]:
# Scenario 3: Website Logs

In [24]:
data = [ [1,'/home',120,200], [2,'/login',300,500], [1,'/home',None,200],
[3,'/dashboard',250,200], [3,'/dashboard',250,200] ]
df = pd.DataFrame(data, columns=['user_id','page','response_time','status_code'])

In [25]:
df

   user_id        page  response_time  status_code
0        1       /home          120.0          200
1        2      /login          300.0          500
2        1       /home            NaN          200
3        3  /dashboard          250.0          200
4        3  /dashboard          250.0          200

In [26]:
# 1. What is the average response time per page?
df.groupby('page')['response_time'].mean()

page
/dashboard    250.0
/home         120.0
/login        300.0
Name: response_time, dtype: float64

In [27]:
# 2. How many failed requests exist (status_code != 200)?
(df['status_code']!=200).sum()

np.int64(1)

In [28]:
# 3. Which pages have response time above overall average?

In [29]:
df[df['response_time']>df['response_time'].mean()]

   user_id        page  response_time  status_code
1        2      /login          300.0          500
3        3  /dashboard          250.0          200
4        3  /dashboard          250.0          200

In [30]:
df

   user_id        page  response_time  status_code
0        1       /home          120.0          200
1        2      /login          300.0          500
2        1       /home            NaN          200
3        3  /dashboard          250.0          200
4        3  /dashboard          250.0          200

In [31]:
# 4. Remove duplicate log entries.
df.drop_duplicates()

   user_id        page  response_time  status_code
0        1       /home          120.0          200
1        2      /login          300.0          500
2        1       /home            NaN          200
3        3  /dashboard          250.0          200

In [32]:
df

   user_id        page  response_time  status_code
0        1       /home          120.0          200
1        2      /login          300.0          500
2        1       /home            NaN          200
3        3  /dashboard          250.0          200
4        3  /dashboard          250.0          200

In [33]:
# 5. Fill missing response times using median.
df.fillna(df['response_time'].median())

   user_id        page  response_time  status_code
0        1       /home          120.0          200
1        2      /login          300.0          500
2        1       /home          250.0          200
3        3  /dashboard          250.0          200
4        3  /dashboard          250.0          200

In [34]:
#  4: Student Scores

In [35]:
data = [ [1,'Math',78], [1,'Science',None], [2,'Math',35], [2,'Science',55],
[3,'Math',90] ]
df = pd.DataFrame(data, columns=['student_id','subject','marks'])

In [36]:
df

   student_id  subject  marks
0           1     Math   78.0
1           1  Science    NaN
2           2     Math   35.0
3           2  Science   55.0
4           3     Math   90.0

In [37]:
# 1. What is the average marks per subject?
df.groupby('subject')['marks'].mean()

subject
Math       67.666667
Science    55.000000
Name: marks, dtype: float64

In [38]:
# 2. Which students scored below 40 in any subject?
df[df['marks']<40]

   student_id subject  marks
2           2    Math   35.0

In [39]:
# 3. Count number of subjects per student.
df.groupby('student_id')['subject'].size()

student_id
1    2
2    2
3    1
Name: subject, dtype: int64

In [40]:
# 4. Fill missing marks using subject average.
df1 = df.fillna(df.groupby('subject')['marks'].transform('mean'))

In [41]:
df1

   student_id  subject  marks
0           1     Math   78.0
1           1  Science    NaN
2           2     Math   35.0
3           2  Science   55.0
4           3     Math   90.0

In [42]:
# 5. Which subject has the highest variance in marks?

In [43]:
# Scenario 5: Product Inventory

In [44]:
data = [ [101,'Electronics',50,15000], [102,'Electronics',None,12000],
[103,'Furniture',30,8000], [104,'Furniture',70,9000], [104,'Furniture',70,9000] ]
df =pd.DataFrame(data, columns=['product_id','category','stock','price'])

In [45]:
df

   product_id     category  stock  price
0         101  Electronics   50.0  15000
1         102  Electronics    NaN  12000
2         103    Furniture   30.0   8000
3         104    Furniture   70.0   9000
4         104    Furniture   70.0   9000

In [46]:
# 1. Which categories have total stock below 100
df.groupby('category')['stock'].sum().loc[lambda x: x<100]

category
Electronics    50.0
Name: stock, dtype: float64

In [47]:
# 2. Which products are priced above category average price?

In [48]:
df[df['price']>df.groupby('category')['price'].transform('mean')]

   product_id     category  stock  price
0         101  Electronics   50.0  15000
3         104    Furniture   70.0   9000
4         104    Furniture   70.0   9000

In [49]:
# 3. Fill missing stock values using category median.

In [50]:
df1 = df.fillna(df.groupby('category')['stock'].mean())

In [51]:
df1

   product_id     category  stock  price
0         101  Electronics   50.0  15000
1         102  Electronics    NaN  12000
2         103    Furniture   30.0   8000
3         104    Furniture   70.0   9000
4         104    Furniture   70.0   9000

In [52]:
# 4. Identify duplicate product records
df[df.duplicated()]

   product_id   category  stock  price
4         104  Furniture   70.0   9000

In [53]:
# 5. What is the total inventory value per category?
df.groupby('category')['price'].sum()

category
Electronics    27000
Furniture      26000
Name: price, dtype: int64